.main {
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  font-family: var(--font-nunito);
  font-size: 2.5rem;
  border: 3px solid #57360b;
  border-radius: 6px;
  background-color: #fcf5eb;
  padding: 2.5rem;
  cursor: pointer;
}